html ,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
  cursor: default;
  background-color: black;
}
#gallery {
  height: 100%;
  width: 100%;
  overflow: hidden;
}